---
import Layout from '../layouts/Layout.astro'
import { Image } from '@astrojs/image/components'
import Letterboxd from '@components/Letterboxd.svelte'

const getBooks = async () => {
  const response = await fetch(`${import.meta.env.STATIC_API}/oku_feed.json`)
  const json = await response.json()
  return json
}

const getFilms = async () => {
  const response = await fetch(`${import.meta.env.STATIC_API}/letterboxd.json`)
  const json = await response.json()
  return json
}

const getTopTracks = async () => {
  const response = await fetch(`${import.meta.env.STATIC_API}/top_tracks.json`)
  const json = await response.json()
  return json
}

const [books, latestFilms, topTracks] = await Promise.all([
  getBooks(),
  getFilms(),
  getTopTracks(),
])

const { read, reading } = books
---

<Layout title="Home">
  <main class="space-y-20 children:p-4">
    <section class="w-full bg-gradient-to-t from-zinc-100 to-gray-50">
      <div class="space-y-4 rounded-xl max-w-7xl mx-auto py-4 sm:py-16 sm:px-8">
        <div class="h-[24px] flex justify-between items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 4 1"
            class="h-full w-auto"
            ><path
              fill="#1ED760"
              d="M.5 0a.5.5 0 100 1 .5.5 0 000-1zm.23.721a.031.031 0 01-.044.01C.57.66.421.644.247.683a.031.031 0 01-.014-.06C.423.579.587.598.72.678c.015.01.02.028.01.043zM.79.585a.039.039 0 01-.053.013A.656.656 0 00.239.54.039.039 0 01.216.465a.73.73 0 01.562.066.039.039 0 01.013.054zM.797.443C.635.348.369.34.215.385a.047.047 0 11-.027-.09C.364.243.658.254.843.364a.047.047 0 11-.047.08zm.564.019C1.274.44 1.26.427 1.26.396c0-.029.027-.048.067-.048.039 0 .077.015.118.045l.004.001a.006.006 0 00.004-.002l.042-.06a.006.006 0 00-.001-.007.255.255 0 00-.166-.058c-.093 0-.158.056-.158.136 0 .086.056.116.153.14.083.019.097.035.097.063 0 .032-.029.052-.074.052A.199.199 0 011.208.6a.006.006 0 00-.005-.002L1.2.601l-.048.057a.006.006 0 000 .007c.054.048.12.073.191.073.1 0 .165-.054.165-.14 0-.071-.042-.11-.147-.136zm.376-.086a.136.136 0 00-.11.053v-.04a.006.006 0 00-.005-.005h-.077a.006.006 0 00-.006.005v.44c0 .003.003.005.006.005h.077A.006.006 0 001.627.83V.69a.14.14 0 00.109.05c.08 0 .163-.062.163-.181 0-.12-.082-.182-.163-.182zm.073.182c0 .06-.038.103-.091.103S1.625.616 1.625.558c0-.059.04-.103.093-.103.052 0 .09.043.09.103zm.3-.182a.182.182 0 00-.186.183c0 .101.08.18.184.18.105 0 .187-.08.187-.181a.181.181 0 00-.186-.182zm0 .285c-.056 0-.098-.044-.098-.103 0-.06.04-.103.096-.103s.098.045.098.104c0 .06-.04.102-.097.102zm.407-.277h-.085V.297A.006.006 0 002.425.29h-.077a.006.006 0 00-.006.006v.087h-.037A.006.006 0 002.3.389v.067c0 .003.002.005.005.005h.037v.172c0 .07.035.105.103.105A.14.14 0 002.517.72.006.006 0 002.52.715V.652a.006.006 0 00-.002-.005.005.005 0 00-.006 0 .098.098 0 01-.045.01c-.025 0-.036-.01-.036-.036v-.16h.085a.006.006 0 00.006-.005V.389a.005.005 0 00-.006-.005zm.296 0v-.01c0-.032.012-.046.04-.046a.13.13 0 01.043.008L2.9.335A.006.006 0 002.902.33V.265A.006.006 0 002.898.26a.212.212 0 00-.064-.01c-.071 0-.109.04-.109.117v.016h-.037a.006.006 0 00-.006.006v.067c0 .003.003.005.006.005h.037v.265c0 .004.003.006.006.006h.077a.006.006 0 00.006-.006V.461h.072l.11.265c-.012.028-.024.034-.041.034a.089.089 0 01-.043-.012h-.004a.006.006 0 00-.004.002l-.026.058a.006.006 0 00.002.007.163.163 0 00.083.021c.057 0 .089-.026.116-.098l.134-.346V.386a.006.006 0 00-.005-.002h-.08a.006.006 0 00-.006.004L3.04.623 2.95.388a.006.006 0 00-.006-.004h-.132zm-.171 0h-.078a.006.006 0 00-.005.005v.337c0 .004.002.006.005.006h.078a.006.006 0 00.005-.006V.39a.006.006 0 00-.005-.005zM2.602.23a.055.055 0 100 .11.055.055 0 000-.11zm.678.262a.054.054 0 01-.055-.054c0-.03.024-.055.055-.055a.055.055 0 010 .109zm0-.104a.049.049 0 00-.05.05c0 .027.022.048.05.048a.049.049 0 00.049-.049.048.048 0 00-.05-.049zm.012.055l.015.021h-.013L3.28.444h-.01v.02h-.011V.407h.025c.013 0 .022.007.022.018 0 .01-.005.016-.013.018zm-.01-.026H3.27v.018h.014c.007 0 .011-.003.011-.009 0-.006-.004-.009-.011-.009z"
            ></path>
          </svg>
        </div>

        <div
          class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-6 sm:pt-4"
        >
          {
            topTracks.map(
              ({
                artist,
                url,
                title,
                image,
              }: {
                artist: string
                url: string
                title: string
                image: string
              }) => (
                <a
                  class="block w-full flex items-start"
                  href={url}
                  target="_blank"
                  rel="noreferrer noopener"
                >
                  <div class="block w-full relative rounded overflow-hidden shadow-lg basis-16 sm:basis-20 shrink-0">
                    <div class="block w-full pt-full" />
                    <img
                      class="rounded absolute top-0 left-0 bottom-0 right-0 bg-gray-100/20 text-xs text-gray-400"
                      src={image}
                      alt={`${title}, ${artist}`}
                      loading="lazy"
                    />
                  </div>

                  <div class="p-2 space-y-0.5">
                    <h3 class="text-sm sm:text-base leading-4 sm:leading-5 text-clamp-2">
                      {title}
                    </h3>
                    <p class="text-xs leading-4 text-clamp-1">{artist}</p>
                  </div>
                </a>
              ),
            )
          }
        </div>
      </div>
    </section>

    <section class="sm:pt-20">
      <Letterboxd {latestFilms} client:visible />
    </section>

    <section class="w-full relative bg-gray-50 last:p-0">
      <svg height="100" viewBox="0 0 1440 120" class="w-full h-auto text-white"
        ><clipPath id="a"><path d="M0 0h1440v120H0z"></path></clipPath><g
          clip-path="url(#a)"
          ><ellipse cx="720" cy="-600" fill="currentColor" rx="1316" ry="720"
          ></ellipse>
        </g>
      </svg>
      <div class="max-w-5xl mx-auto pt-8 pb-24 px-4 flex flex-col gap-12">
        <svg height="24" viewBox="0 0 60 24" width="60" class="w-24 h-auto"
          ><path
            clip-rule="evenodd"
            d="m37.6385 18.0685.5198-.1135c.4649-.0915.7699-.2653.7699-.8519v-9.75513l-1.2897-.72013v-.5298l3.3874-1.09804h.2501v12.1031c0 .6058.3469.7952.8081.8895l.4426.0759v.7393h-4.8882zm3.8495-4.1854 2.2707-2.196c.7699-.7577.6741-1.2875-.1534-1.4394l-.6165-.1135v-.73838h4.7542v.73838l-.4965.097c-.5514.0937-1.0574.3597-1.4431.7586l-2.16 2.078 4.2921 5.1151-.173.6817h-2.3478zm-11.7214-8.48588c-3.5993 0-6.7756 2.72771-6.7756 6.98898 0 3.9402 2.849 6.6111 6.5255 6.6111 3.7918 0 6.8129-2.595 6.8129-6.8188 0-4.05357-2.8286-6.78128-6.5628-6.78128zm-.212 1.21242c2.4055 0 3.9648 2.08353 3.9648 5.77656 0 3.5989-1.5221 5.3987-3.7342 5.3987-2.3283 0-3.9843-2.1027-3.9843-5.7583 0-3.69396 1.6365-5.41696 3.7537-5.41696zm-15.6072 3.34701v1.79895c-1.6023.0019-3.1384.6292-4.27147 1.7442-.91442.8999-1.50601 2.0581-1.70129 3.3005h5.97276v1.7989h-13.9474v-1.7989h6.00478c-.19553-1.2507-.79056-2.4168-1.71092-3.3225-1.13896-1.1208-2.68314-1.7514-4.29386-1.7533v-1.80262c1.43891.00099 2.85029.38812 4.08222 1.11982s2.23774 1.7802 2.90916 3.0326c.67047-1.2431 1.67214-2.283 2.89758-3.0084s2.62844-1.10889 4.05844-1.10925zm36.0281 1.42585v4.5275c0 2.1211 1.4441 3.0874 2.85 3.0874 1.4579 0 2.7281-.8721 3.4403-1.8942v1.8969h.4426l3.2916-.625v-.7036l-.6509-.0568c-.5969-.0759-.847-.3037-.847-.7768v-7.7046h-.4808l-3.3306.60392v.68258l.6351.0915c.5774.0568.808.3029.808.8712v5.2898c-.612.3769-1.3181.5799-2.0401.5865-.8814 0-1.7666-.3404-1.7666-1.9316v-6.1939h-.4649l-3.2721.60392v.68258l.5969.0915c.5579.076.7885.3029.7885.8712z"
            fill-rule="evenodd"></path><path
            d="m6.97375 9.42609c1.23145 0 2.22973-.98239 2.22973-2.19424s-.99828-2.19425-2.22973-2.19425-2.22973.9824-2.22973 2.19425.99828 2.19424 2.22973 2.19424z"
          ></path>
        </svg>
        <section class="flex flex-col md:flex-row w-full justify-between gap-8">
          <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-6">
              <h2 class="font-semibold text-2xl">Currently Reading</h2>
              <div class="flex gap-6">
                <a href={reading.link} class="relative min-w-35">
                  <Image
                    class="rounded w-full"
                    width={280}
                    aspectRatio={150 / 241}
                    src={reading.cover}
                    alt={`${reading.title} cover`}
                  />
                </a>
                <div class="flex flex-col">
                  <a href={reading.link} class="hover:underline">
                    <h2 class="text-lg font-medium group-hover:underline">
                      {reading.title}
                    </h2>
                  </a>
                  <div class="flex flex-col gap-1.5">
                    <p class="text-slate-500 text-md">
                      {reading.creator}
                    </p>
                    <p
                      class="whitespace-pre-line text-clamp-13 text-sm"
                      set:text={reading.description}
                    >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-shrink-0 flex flex-col gap-4">
            <h2 class="font-semibold text-2xl">Recently Read</h2>
            <div class="flex flex-col min-w-sm gap-2">
              {
                read.map(
                  (book: {
                    link: string
                    title: string
                    creator: string
                    cover: string
                  }) => (
                    <a
                      href={book.link}
                      class="group flex gap-4 relative bg-light-50/82.5 hover:bg-light-50/20 p-2 rounded-md overflow-hidden shadow-inner"
                    >
                      <Image
                        class="absolute top-0 right-0 w-1/2 blur-80 z-0 opacity-15 hover:opacity-10"
                        width={128}
                        aspectRatio={150 / 241}
                        src={book.cover}
                        alt={`${book.title} cover`}
                      />
                      <Image
                        class="rounded-sm w-16"
                        width={128}
                        aspectRatio={150 / 241}
                        src={book.cover}
                        alt={`${book.title} cover`}
                      />

                      <div class="flex flex-col">
                        <h2 class="group-hover:underline">{book.title}</h2>
                        <p class="text-slate-500 text-sm">{book.creator}</p>
                      </div>
                    </a>
                  ),
                )
              }
            </div>
          </div>
        </section>
      </div>
    </section>
  </main>
</Layout>
