---
import '@unocss/reset/tailwind.css'
import NavLink from '@components/NavLink.astro'
import Input from '@components/Input.svelte'
export interface Props {
  title: string
  layoutCSS?: string
}

const { title, layoutCSS = 'bg-white/50 text-white' } = Astro.props

const nav = {
  Home: '/',
  Posts: '/blog',
  Snippets: '/snippets',
  Resources: '/resources',
  Music: '/music',
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="p-4 min-h-screen">
      <div
        class={[
          'rounded-lg overflow-hidden shadow-[inset_0_0_0_1px_rgb(255,255,255,0.15),0_0_10px_rgba(0,0,0,0.15)]',
          layoutCSS,
        ].join(' ')}
      >
        <div
          class="flex w-full items-center justify-between rounded-lg overflow-hidden p-4 gap-4 sm:gap-6"
        >
          <nav>
            <ul class="flex gap-2">
              {
                Object.entries(nav).map(([text, href]) => {
                  return (
                    <NavLink href={href} label={text}>
                      {text}
                    </NavLink>
                  )
                })
              }
            </ul>
          </nav>
          <Input placeholder="Search" client:load />
        </div>
        <div class="w-full h-px bg-white/20"></div>
        <div class="p-2 sm:p-4 min-h-screen">
          <slot />
        </div>
      </div>
    </main>
  </body>
</html>
